
body{
font-family:Arial;
margin:0;
background:#121212;
color:white;
text-align:center;
}

header{
background:#1f1f1f;
padding:20px;
}

nav a{
margin:10px;
color:#7CFC00;
text-decoration:none;
font-weight:bold;
}

.hero{
padding:40px;
background:#1b1b1b;
}

.categories{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
padding:40px;
}

.card{
background:#2a2a2a;
padding:20px;
width:200px;
border-radius:10px;
}

.card a{
display:block;
margin-top:10px;
color:#7CFC00;
}

.contact{
padding:40px;
}

form{
display:flex;
flex-direction:column;
max-width:400px;
margin:auto;
gap:10px;
}

input, textarea{
padding:10px;
border-radius:5px;
border:none;
}

button{
padding:12px;
background:#7CFC00;
border:none;
font-weight:bold;
cursor:pointer;
}

.listing{
background:#2a2a2a;
margin:20px;
padding:20px;
border-radius:10px;
}
